section {
  background-color: #fff4b7;
  color: #006a67;
  text-align: center;
  border-radius: 2em;
}
h1 {
  font-size: 25px;
  color: black;
  font-family: Geneva, Tahoma, sans-serif;
}
h2 {
  color: #003161;
}
