<div *ngIf="products.length > 0; else noProducts">
  <h2>#1</h2>
  <ng-template
    [ngTemplateOutlet]="productList1"
    [ngTemplateOutletContext]="{ products: products }"
  ></ng-template>
  <h2>#2</h2>
  <ng-template [ngTemplateOutlet]="productList2"></ng-template>
</div>

<ng-template #productList1 let-products="products">
  <div *ngFor="let product of products">
    <div class="card mb-3" *ngIf="product.isActive">
      <div class="row">
        <div class="col-3">
          <img
            src="{{ product.imgUrl }}"
            alt=""
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
              {{ product.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #productList2>
  <div class="row">
    <div *ngFor="let product of getProducts()" class="col-3">
      <div class="card mb-3" *ngIf="product.isActive">
        <img src="{{ product.imgUrl }}" alt="" class="card-img-top" />
      </div>
      <div class="col-9">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.desc }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-warning">No Product</div>
</ng-template>
